.container {
  background-color: #282c34;
  min-height: 100vh;
}

.app {
  width: 60vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 300px;
  max-width: 800px;
  text-align: center;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  &__logo {
    height: 60px;
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  &__title {
    margin-left: 20px;
  }
}

.input {
  flex: 0 0 auto;
  font-size: 24px;
  width: 100%;
}

.chat {
  flex: 1 1 0;
  color: chartreuse;
  text-align: left;
  overflow-y: auto;
  padding-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
